@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

.title {
    font-family: 'Archivo', sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color :f6e7d8;
}

.footer {
  font-family: 'Archivo', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 50px;
  color: gray;
}

video {
    width: 600px !important;
    height: 300px !important;
}
